.row {
    @mixin clearfix;

    &--gutters {
        margin-right:-20px;
    }

    &--gutters > div {
        padding-right:20px;
    }

    @mixin atMedium {
        &__medium-6 {
        float: left;
        width: 50%;
        }
    }



}