.row {
    @mixin clearfix;

    &--gutters {
        margin-right: -20px;

        &--balance {
            margin-right: 0px;
        }
    }

    &--gutters > div {
        padding-right:20px;
    }

    &__b-margin-until-medium {
        margin-bottom: 1.5rem;
    }

    &__small-6 {
        float: left;
        width: 50%;
        font-size: 10px;
        color: $lightGray;
        line-height: 1.05rem;

        @mixin atSmall {
           font-size: 1rem; 
           line-height: 1.85rem;
           color: #000;
        }

        &--white {
            color: $mainWhite;
        }

    }

        &__small-6--smaller {
            width: 46%;
        }

        &__small-6--larger {
            width: 54%;
        }

    @mixin atMedium {

        &__b-margin-until-medium {
        margin-bottom: 0rem;
        }

        &__medium-3 {
        float: left;
        width: 25%;
        }

        &__medium-6 {
        float: left;
        width: 50%;
        }

        &__medium-6--smaller {
            width: 48%;
         }

        &__medium-6--larger {
             width: 52%;
         }
    }



}